.circle {
    width: 200px;  
    height: 200px;
    background: radial-gradient(circle, rgba(0, 255, 0, 0.726) 0%, rgba(0,128,0,0.3) 100%);
    border-radius: 30%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    filter: blur(50px);
    transition: transform 0.1s ease-out; 
    z-index: 3;
}
